<h1>Authentication Project</h1>
<h2><%=link_to 'Private Dashboard' , dashboard_path%>  |  <%= link_to 'About Us' , about_path%> </h2>


<%if current_user?%>
<h3>
	All Other Users
</h3>
<ul>
    <% @users.each do |user|%>
	  <li><%=user.email%></li>
    <% end %>
</ul>
<%end%>
